<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body bgcolor="lightblue">
  <div class="container" style="align-content: center;">
    <div class="row">
      <div class="col">
        <form action="upload" method="post" enctype="multipart/form-data">
          <div>
            <label for="">text</label>

            <input type="text" name="name"><br><br><br>
          </div>
          <div>
            <label for="">upload image</label>
            <input type="file" name="image" accept="image/*" required><br><br>
          </div>
          <div>
            <input type="submit" value="submit">
          </div>

        </form>
      </div>
    </div>
  </div>

</body>

</html>